<form class="form-horizontal" [formGroup]="formulario" (ngSubmit)="onSubmit()"  >
    <div class="row">
        <div class="col-sm-12">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" id="nome" placeholder="Nome" formControlName="nome">
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <label for="email">E-mail</label>
            <input type="email" class="form-control" id="email" placeholder="nome@email.com" formControlName=email > 
        </div>
    </div>
   
<!--
   

    <div ngModelGroup="endereco">
        <div class="row">
            <div class="col-sm-3">
                <label for="cep" class="control-label">CEP</label>
                <input type="text" class="form-control" id="cep"
                 name="cep" ngModel required #cep="ngModel" (blur)="consultaCEP($event.target.value, f)">
                <div *ngIf="!cep.valid && cep.touched"
                class="alert alert-danger" role="alert">
                    CEP é obrigatório.
                </div>
            </div>

            <div class="col-sm-3">
                <label for="numero" class="control-label">Número</label>
                <input type="text" class="form-control" id="numero" name="numero" ngModel required #numero="ngModel">
                <div *ngIf="!numero.valid && numero.touched"
                class="alert alert-danger" role="alert">
                    Número é obrigatório.
                </div>
            </div>
            
            <div class="col-sm-6">
                <label for="complemento" class="control-label">Complemento</label>
                <input type="text" class="form-control" id="complemento" name="complemento" ngModel required #complemento="ngModel">
            </div>

        </div>

        <div class="row">
            <div class="col-sm-12">
                <label for="rua">Rua</label>
                <input type="text" class="form-control" id="rua" 
                placeholder="Nome" name="rua" [(ngModel)]="usuario.rua" required #rua="ngModel" >
                <div *ngIf="!rua.valid && rua.touched"
                class="alert alert-danger" role="alert">
                    Rua é obrigatório.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <label for="bairro" class="control-label">Bairro</label>
                <input type="text" class="form-control" id="bairro" name="bairro" ngModel bairro #bairro="ngModel">
                <div *ngIf="!bairro.valid && bairro.touched"
                class="alert alert-danger" role="alert">
                Bairro é obrigatório.
                </div>
            </div>

            <div class="col-sm-3">
                <label for="cidade" class="control-label">Cidade</label>
                <input type="text" class="form-control" id="cidade" name="cidade" ngModel required #cidade="ngModel">
                <div *ngIf="!cidade.valid && cidade.touched"
                class="alert alert-danger" role="alert">
                    Cidade é obrigatório.
                </div>
            </div>
            
            <div class="col-sm-6">
                <label for="estado" class="control-label">Estado</label>
                <input type="text" class="form-control" id="estado" name="estado" ngModel required #estado="ngModel">
                <div *ngIf="!estado.valid && estado.touched"
                class="alert alert-danger" role="alert">
                    Estado é obrigatório.
                </div>
            </div>
        </div>
    </div>
-->
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="submit" class="btn btn-primary" (click)="resetar()">Cancelar</button>
</form>
